/*buttons = #7900FF
  headings = #548CFF
  background color = #93FFD8
  other = #CFFFDC */

body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color:#93FFD8;
}

h1 {
    margin: 20px auto 0 auto;
    font-family: 'The Nautigal', cursive;
    font-size: 6rem;
    line-height: 2;
    color: #7700ffaf;
    
}

h2 {
    margin: 50px auto 50px auto;
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
    font-weight: normal;
    color: #7700ffaf;
    position: relative;

}

h3 {
    color: #7900FF;
    font-size: 1.5rem;
    margin-bottom: 0px;
}

a {
    font-family: 'Montserrat Alternates', sans-serif;
    color:  #7900FF;
}

p {
    margin: 50px auto 100px auto;
    padding: 0px 20px 0 20px;
    color: #40514E;
    font-size: larger;
    line-height: 2;
}

#top-cloud {
    position: absolute;
    top: 12rem;

}

#bottom-cloud {
    position: absolute;
    left: 5rem;

}

#pro {
    text-decoration: underline;
}

#mountain {
    position: relative;
    top: 10rem;
    width: 80%;
}

#top-container {
    width: 100%;
    background-color: #93FFD8;
}

#profile-pic {
    margin-top: 18rem;
    width: 20rem;
    border-radius: 100px;
}

.middle-container {
    background-color: whitesmoke;
    display: inline-block;
    font-size: 20px;
    /* padding: 0 10rem; */
}

.skills {
    background-color: #93FFD8
}

.skills-heading {
    margin-top: 0;
    padding-top: 100px;
}

.code-img {
    width: 30%;
    margin-right: 30px;
    float: left;
}

.innovative-img {
    width: 30%;
    padding-right: 20px;
    float: right;
}

#innovative-heading {
    padding-top: 30px;
}

.innovative-skill-desrciption {
    margin-top: 20rem;
}

.skill-row {
    margin: 0 auto;
    padding: 100px 0;
    width: 100%;
    text-align: left;
    margin-left: .5rem;
}

.project-container {
    margin-bottom: 50px;
    margin-top: 250px;
}

.projects-details {
    margin: 50px auto 200px auto;
    padding: 100px 5rem 0px 5rem;
}

.chess-project {
    width: 100%;
    margin-right: 30px;
    float: left;
}

#top-fullBoard {
    float: right;
}

#stacked{
    float: left;
}

#mixer{
    float: right;
}

#motor {
    float: right;
}


/****** horizontal line decoration start ******/
.hr-top {
    top: 5rem;
}

#top-2-middle {
    top: 5.2rem;
}

#skill-2-projects {
    top: -4rem;
}

.hr-bottom {
    bottom: 6rem;
}
.astrodivider {
    margin:64px auto;
    width:400px; 
    max-width: 100%;
    position:relative;
  }
  
  .astrodividermask { 
      overflow:hidden; height:20px; 
  }
  
  .astrodividermask:after { 
        content:''; 
        display:block; margin:-25px auto 0;
        width:100%; height:25px;  
          border-radius:125px / 12px;
         box-shadow:0 0 8px #049372;
  }
  .astrodivider span {
      width:50px; height:50px; 
      position:absolute; 
      bottom:100%; margin-bottom:-25px;
      left:50%; margin-left:-25px;
      border-radius:100%;
     box-shadow:0 2px 4px #4fb39c;
      background:#fff;
  }
  .astrodivider i {
      position:absolute;
      top:4px; bottom:4px;
      left:4px; right:4px;
      border-radius:100%;
      border:1px dashed #68beaa;
      text-align:center;
      line-height:40px;
      font-style:normal;
       color:#049372;
  }
/****** horizontal line decoration end ******/

/*** HIDES 'CHECK IT OUT' BTN  ***/
.project-link {
    visibility: hidden;
}

.bottom-container {
    padding-top: 2rem;
    background-color: #93FFD8;
}

#contact-para {
    margin: 0 auto 50px auto;
}

#motto {
    padding: 25px;
    margin: 0 auto 25px auto;
}

.btn {
    background: #7900FF;
    background-image: -webkit-linear-gradient(top, #7900FF, #2980b9);
    background-image: -moz-linear-gradient(top, #7900FF, #2980b9);
    background-image: -ms-linear-gradient(top, #7900FF, #2980b9);
    background-image: -o-linear-gradient(top, #7900FF, #2980b9);
    background-image: linear-gradient(to bottom, #7900FF, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 30px #7900FF;
    -moz-box-shadow: 0px 0px 30px #7900FF;
    box-shadow: 0px 0px 30px #7900FF;
}

/* #last-projectBtn {
    margin-right: 3rem;
} */

#footer {
    margin-top: 2rem;
    font-size: 20px;
    font-weight: bold;
}

.footer-end {
    margin-bottom: 0;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    #mountain {
        display: none;
    }

    img {
        width: 100%;
    }

    #top-cloud {
        width: 30%;
    
    }
    
    #bottom-cloud {
        width: 30%;
    
    }

    #profile-pic {
        width: 20%;
    }

    .project-img {
        width: 75%;
    }

    .chess-project {
        width: 60%;
        margin: 0 auto;
        float: none;
    }

}

/* max-width will apply media query 
when given width is equal to or less */
@media (max-width: 421px) {
    .projects-details {
        padding: 0;
        white-space: no-wrap;
    }

    .chess-project {
        width: 100%;
    }

    #profile-pic {
        margin-top: 9rem;
        width: 40%;
    }

}

/* min-width will apply media query 
when given width is equal to or more */
@media (min-width: 768px) {
    #mountain {
        width: 60%;
        top: 2.5rem;
    }

    #top-cloud {
        width: 15%;
    }

    #top-container {
        padding-bottom: 2.5rem;
    }

    #bottom-cloud {
        width: 15%;
    }

    .code-img {
        padding-left: 1rem;
        width: 323.2px;
        height: 307.2px;
    }

    .innovative-img {
        width: 327.2px;
        height: 307.2px;
    }

    #innovative-heading {
        padding-left: 1rem;
    }

    .chess-project {
        padding-left: 1rem;
        width: 323.2px;
        height: 307.2px;
    }

    #magnet {
        margin: 0;
    }

    .pi-garden {
        width: 50%;
    }
    

}

@media (min-width: 1440px) {
    #top-cloud {
        /* bottom: 30rem; */
        width: 10%;
    }

    #bottom-cloud {
        /* bottom: 45rem; */
        width: 10%;
    }
    
    #introduction {
        margin-top: 10rem;
        font-size: 12rem;
    }

    #sub-heading {
        margin-bottom: 0;
        font-size: 3.5rem;
    }

    #profile-para {
        margin: 0 auto;
        width: 90.0rem;
        height: 37.85rem;
    }

    .skill-row {
        margin: 0 auto;
        width: 90.0rem;
        height: 37.85rem;
    }

    .pi-garden {
        width: 20%;
    }

    #mixer{
        width: 15%;
    }
    
    #motor {
        width: 15%;
    }

}